
[data-novi-id="166"]{
  color: rgba(5, 5, 5, 1);
  font-weight: 400;
}
[data-novi-id="165"]{
  color: rgba(10, 54, 158, 1);
  font-weight: 700;
}
[data-novi-id="165"]{
  color: rgba(10, 54, 158, 1);
  
}
[data-novi-id="165"]{
  font-size: 17px;
  
  
  color: rgba(10, 71, 10, 0.98);
  font-size: 18px;
  line-height: 28px;
  
  
}
[data-novi-id="165"]{
  color: rgba(20, 20, 20, 1);
  
}
[data-novi-id="164"]{
  line-height: 28.8px;
  color: rgba(5, 5, 5, 1);
}
[data-novi-id="163"]{
  color: rgba(5, 5, 5, 1);
  line-height: 28.8px;
}
[data-novi-id="162"]{
  color: rgba(5, 5, 5, 1);
  line-height: 28.8px;
}
[data-novi-id="161"]{
  color: rgba(5, 5, 5, 1);
  line-height: 28.8px;
}
[data-novi-id="160"]{
  line-height: 28.8px;
  color: rgba(5, 5, 5, 1);
}
[data-novi-id="70"]{
  color: rgba(20, 20, 20, 1);
  
}
[data-novi-id="70"]{
  font-size: 17px;
  
  
  color: rgba(10, 71, 10, 0.98);
  font-size: 18px;
  line-height: 28px;
  
  
}
[data-novi-id="70"]{
  color: rgba(10, 54, 158, 1);
  
}
[data-novi-id="2"]{
  color: rgba(48, 47, 48, 1);
}
[data-novi-id="159"]{
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}
[data-novi-id="158"]{
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}
[data-novi-id="157"]{
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}
[data-novi-id="156"]{
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}
[data-novi-id="155"]{
  font-size: 18px;
  color: rgba(48, 47, 48, 1);
  font-weight: 700;
  line-height: 24px;
}
[data-novi-id="154"]{
  font-weight: 700;
}
[data-novi-id="153"]{
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
[data-novi-id="152"]{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
[data-novi-id="148"]{
  font-size: 18px;
  font-size: 17px;
  
  font-weight: 700;
  line-height: 24px;
}
[data-novi-id="77"]{
  color: rgba(48, 47, 48, 1);
  line-height: 24px;
  font-weight: 700;
  font-size: 14px;
}
[data-novi-id="151"]{
  color: rgba(48, 47, 48, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
}
[data-novi-id="150"]{
  
  font-weight: 600;
  line-height: 24px;
  
  font-size: 17px;
}
[data-novi-id="149"]{
  color: rgba(27, 112, 36, 1);
  font-weight: 700;
  
  line-height: 24px;
  font-size: 17px;
}
[data-novi-id="148"]{
  color: #009444;
  color: rgba(48, 47, 48, 1);
  font-weight: 700;
  font-weight: 700;
  font-size: 18px;
}
[data-novi-id="147"]{
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
[data-novi-id="146"]{
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}
[data-novi-id="145"]{
  font-size: 17px;
  
  font-weight: 700;
  line-height: 24px;
}
[data-novi-id="144"]{
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-size: 18px;
}
[data-novi-id="143"]{
  line-height: 24px;
  font-weight: 700;
  font-size: 17px;
}
[data-novi-id="142"]{
  line-height: 24px;
  font-weight: 700;
  font-size: 17px;
}
[data-novi-id="141"]{
  font-weight: 400;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
[data-novi-id="140"]{
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(48, 47, 48, 1);
}
[data-novi-id="139"]{
  font-size: 18px;
  
  font-weight: 700;
  line-height: 24px;
  line-height: 24px;
}
[data-novi-id="138"]{
  line-height: 24px;
  font-weight: 700;
  font-size: 17px;
}
[data-novi-id="137"]{
  color: rgba(235, 179, 69, 1);
  line-height: 28.8px;
  font-size: 18px;
}
[data-novi-id="136"]{
  color: rgba(235, 179, 69, 1);
  line-height: 28.8px;
  font-size: 18px;
}
[data-novi-id="135"]{
  font-weight: 700;
}
[data-novi-id="134"]{
  line-height: 24px;
  font-weight: 700;
  font-size: 17px;
}
[data-novi-id="133"]{
  font-weight: 400;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
[data-novi-id="132"]{
  line-height: 28.8px;
  font-weight: 400;
}
[data-novi-id="131"]{
  line-height: 28.8px;
  font-weight: 400;
}
[data-novi-id="130"]{
  line-height: 28.8px;
  font-weight: 400;
  font-weight: 400;
}
[data-novi-id="129"]{
  font-weight: 400;
}
[data-novi-id="128"]{
  font-weight: 400;
  font-weight: 400;
  line-height: 28.8px;
  font-weight: 400;
}
[data-novi-id="127"]{
  font-weight: 400;
}
[data-novi-id="126"]{
  font-weight: 700;
}
[data-novi-id="125"]{
  color: rgb(81, 82, 80);
  font-weight: 400;
  font-size: 14px;
}
[data-novi-id="124"]{
  color: rgba(235, 179, 69, 1);
  font-weight: 700;
  line-height: 28.8px;
  font-size: 18px;
}
[data-novi-id="123"]{
  color: rgba(235, 179, 69, 1);
  font-weight: 700;
  line-height: 28.8px;
  font-size: 18px;
}
[data-novi-id="122"]{
  font-weight: 700;
  line-height: 28.8px;
  font-size: 18px;
  color: rgba(235, 179, 69, 1);
}
[data-novi-id="121"]{
  font-weight: 700;
  line-height: 28.8px;
  font-size: 18px;
  color: rgba(235, 179, 69, 1);
}
[data-novi-id="120"]{
  font-size: 14px;
  color: rgba(81, 82, 82, 1);
}
[data-novi-id="119"]{
  color: rgba(235, 179, 69, 1);
  font-weight: 700;
  line-height: 28.8px;
  font-size: 18px;
}
[data-novi-id="118"]{
  color: rgba(235, 179, 69, 1);
  font-weight: 700;
  line-height: 28.8px;
  font-size: 18px;
}
[data-novi-id="117"]{
  line-height: 28.8px;
  font-size: 18px;
  font-weight: 700;
  color: rgba(235, 179, 69, 1);
}
[data-novi-id="116"]{
  color: rgba(235, 179, 69, 1);
  line-height: 28.8px;
  font-size: 18px;
  font-weight: 700;
}
[data-novi-id="115"]{
  font-weight: 700;
  font-size: 18px;
  color: rgba(152, 183, 76,  1);
}
[data-novi-id="114"]{
  font-weight: 700;
  font-size: 18px;
  color: rgba(152, 183, 76,  1);
}
[data-novi-id="113"]{
  font-weight: 700;
  font-size: 18px;
  color: rgba(152, 183, 76,  1);
}
[data-novi-id="112"]{
  font-weight: 700;
  font-size: 18px;
  color: rgba(235, 179, 69, 1);
}
[data-novi-id="111"]{
  font-weight: 700;
  font-size: 18px;
  color: rgba(235, 179, 69, 1);
}
[data-novi-id="110"]{
  font-weight: 700;
  font-size: 18px;
  color: rgba(235, 179, 69, 1);
}
[data-novi-id="109"]{
  font-weight: 700;
  font-size: 18px;
  color: rgba(54, 117, 183,1);
}
[data-novi-id="108"]{
  font-size: 18px;
  font-weight: 700;
  color: rgba(54, 117, 183,1);
}
[data-novi-id="107"]{
  font-size: 18px;
  font-weight: 700;
  color: rgba(54, 117, 183,1);
}
[data-novi-id="106"]{
  color: rgba(54, 117, 183,1);
  font-size: 18px;
  font-weight: 700;
}
[data-novi-id="105"]{
  font-size: 18px;
  font-weight: 700;
  color: rgba(54, 117, 183,1);
}
[data-novi-id="104"]{
  
  color: rgba(119, 119, 119, 1);
  color: #ff5200;
  line-height: 28.8px;
  font-weight: 700;
  font-weight: 400;
}
[data-novi-id="103"]{
  font-weight: 700;
  color: rgba(235, 179, 69, 1);
  font-size: 18px;
  line-height: 28.8px;
}
[data-novi-id="102"]{
  font-size: 18px;
  color: rgba(235, 179, 69, 1);
  font-weight: 700;
  color: rgba(235, 179, 69, 1);
}
[data-novi-id="101"]{
  font-size: 18px;
  color: rgba(235, 179, 69, 1);
  font-weight: 700;
  font-weight: 700;
}
[data-novi-id="100"]{
  font-size: 18px;
  font-weight: 700;
  color: rgba(235, 179, 69, 1);
  font-weight: 700;
}
[data-novi-id="99"]{
  font-size: 18px;
  color: rgba(235, 179, 69, 1);
  font-weight: 700;
  color: rgba(235, 179, 69, 1);
}
[data-novi-id="98"]{
  font-size: 18px;
  color: rgba(54, 117, 183, 1);
  font-weight: 700;
  color: #0595ff;
}
[data-novi-id="97"]{
  font-weight: 400;
  color: rgba(235, 179, 69, 1);
}
[data-novi-id="96"]{
  font-size: 18px;
  color: rgba(152, 183, 76, 1);
  font-weight: 700;
}
[data-novi-id="95"]{
  font-size: 14px;
  font-weight: 700;
  color: rgba(93, 94, 99, 1);
}
[data-novi-id="94"]{
  color: rgba(152, 183, 76, 1);
  font-weight: 700;
  font-weight: 700;
  font-size: 18px;
}
[data-novi-id="93"]{
  color: rgba(152, 183, 76, 1);
}
[data-novi-id="92"]{
  color: rgba(152, 183, 76, 1);
  font-size: 18px;
  font-weight: 700;
}
[data-novi-id="91"]{
  font-weight: 400;
  font-size: 14px;
  color: rgb(75, 77, 77);
}
[data-novi-id="90"]{
  color: rgba(235, 179, 69, 1);
  font-size: 14px;
}
[data-novi-id="89"]{
  color: rgba(235, 179, 69, 1);
  font-weight: 700;
  font-size: 18px;
}
[data-novi-id="88"]{
  color: rgba(235, 179, 69, 1);
  font-weight: 700;
  font-size: 18px;
}
[data-novi-id="84"]{
  color: rgba(54, 117, 183, 1);
  font-weight: 700;
  color: rgba(235, 179, 69, 1);
  font-size: 35px;
}
[data-novi-id="83"]{
  
  color: #0595ff;
  color: rgba(54, 117, 183, 1);
  
  font-weight: 700;
  
  text-transform: capitalize;
  
  font-size: 35px;
}
[data-novi-id="23"]{
  color: rgb(115, 115, 115);
  color: rgba(54, 117, 183, 1);
  font-weight: 700;
  font-size: 18px;
}
[data-novi-id="87"]{
  font-size: 15px;
}
[data-novi-id="86"]{
  font-size: 24px;
}
[data-novi-id="85"]{
  font-size: 15px;
  font-weight: 400;
}
[data-novi-id="84"]{
  font-size: 18px;
  font-weight: 700;
}
[data-novi-id="83"]{
  font-size: 18px;
}
[data-novi-id="82"]{
  font-size: 25px;
}
[data-novi-id="81"]{
  
  font-size: 15px;
  
  
  
  
}
[data-novi-id="80"]{
  font-size: 20px;
}
[data-novi-id="79"]{
  font-size: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
[data-novi-id="78"]{
  font-size: 18px;
  color: rgba(48, 47, 48, 1);
  font-weight: 700;
  line-height: 24px;
}
[data-novi-id="77"]{
  font-size: 18px;
}
[data-novi-id="76"]{
  font-size: 18px;
  color: rgba(48, 47, 48, 1);
  
  font-weight: 700;
  line-height: 24px;
}
[data-novi-id="75"]{
  color: #F8FF3B;
}
[data-novi-id="74"]{
  color: #F8FF3B;
  font-size: 30px;
}
[data-novi-id="73"]{
  font-size: 18px;
  color: rgba(48, 47, 48, 1);
  font-weight: 700;
  line-height: 24px;
}
[data-novi-id="72"]{
  color: rgba(5, 5, 5, 1);
  line-height: 40px;
  font-size: 25px;
  letter-spacing: 2.0px;
}
[data-novi-id="71"]{
  color: rgba(5, 5, 5, 1);
  font-size: 17px;
}
[data-novi-id="70"]{
  font-size: 30px;
}
[data-novi-id="69"]{
  font-size: 20px;
  font-weight: 700;
}
[data-novi-id="68"]{
  font-size: 20px;
  color: #ffee3c;
  
}
[data-novi-id="67"]{
  font-size: 21px;
  font-weight: 500;
}
[data-novi-id="66"]{
  font-weight: 700;
}
[data-novi-id="65"]{
  font-weight: 700;
}
[data-novi-id="64"]{
  font-weight: 700;
}
[data-novi-id="63"]{
  font-weight: 700;
}
[data-novi-id="62"]{
  font-weight: 700;
}
[data-novi-id="61"]{
  font-weight: 700;
}
[data-novi-id="60"]{
  
  font-size: 28px;
  
  color: #F8FF3B;
  
  font-weight: 400;
  
  text-align: center;
}
[data-novi-id="59"]{
  font-size: 19px;
  color: rgba(45, 119, 17, 1);
}
[data-novi-id="58"]{
  font-size: 15px;
  color: rgba(21, 21, 21, 0.8);
  line-height: 24px;
  
  
}
[data-novi-id="57"]{
  font-weight: 700;
  font-size: 17px;
  line-height: 29.99px;
}
[data-novi-id="56"]{
  font-size: 21px;
  font-weight: 700;
  color: rgba(45, 119, 17, 1);
  line-height: 29.4px;
}
[data-novi-id="55"]{
  font-weight: 500;
  font-size: 20px;
}
[data-novi-id="46"]{
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
}
[data-novi-id="54"]{
  font-weight: 700;
}
[data-novi-id="53"]{
  font-weight: 700;
}
[data-novi-id="52"]{
  font-weight: 400;
  font-size: 23px;
  color: rgba(255, 164, 43, 0.5);
}
[data-novi-id="51"]{
  font-weight: 700;
}
[data-novi-id="50"]{
  font-weight: 400;
}
[data-novi-id="49"]{
  font-weight: 400;
}
[data-novi-id="48"]{
  font-weight: 700;
  text-align: center;
}
[data-novi-id="47"]{
  font-weight: 700;
  text-align: center;
}
[data-novi-id="45"]{
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(5, 5, 5);
}
[data-novi-id="44"]{
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(5, 5, 5);
}
[data-novi-id="43"]{
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(5, 5, 5);
}
[data-novi-id="42"]{
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(5, 5, 5);
}
[data-novi-id="41"]{
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(3, 3, 3);
}
[data-novi-id="40"]{
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(3, 3, 3);
}
[data-novi-id="39"]{
  font-size: 18px;
  font-weight: 500;
  color: rgb(3, 3, 3);
}
[data-novi-id="38"]{
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(5, 5, 5);
}
[data-novi-id="37"]{
  line-height: 1.3px;
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(3, 3, 3);
}
[data-novi-id="36"]{
  line-height: 1.3px;
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(5, 5, 5);
}
[data-novi-id="35"]{
  line-height: 1.3px;
  letter-spacing: 1.8px;
  font-weight: 500;
  font-size: 18px;
  color: rgb(3, 3, 3);
}
[data-novi-id="34"]{
  color: rgb(3, 3, 3);
  line-height: 1.3px;
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: 500;
}
[data-novi-id="33"]{
  
  line-height: 15px;
}
[data-novi-id="32"]{
  font-weight: 500;
  color: rgb(3, 3, 3);
  line-height: 1.3px;
  letter-spacing: 1.8px;
  font-size: 18px;
}
[data-novi-id="31"]{
  color: rgba(5, 5, 5, 1);
  font-weight: 400;
}
[data-novi-id="30"]{
  color: rgba(20, 20, 20, 1);
  
}
[data-novi-id="30"]{
  font-size: 17px;
  
  
  color: rgba(10, 71, 10, 0.98);
  font-size: 18px;
  line-height: 28px;
  
  
}
[data-novi-id="30"]{
  color: rgba(10, 54, 158, 1);
  
}
[data-novi-id="28"]{
  color: rgba(20, 20, 20, 1);
  
}
[data-novi-id="28"]{
  font-size: 17px;
  
  
  /*color: rgba(10, 71, 10, 0.98);*/
  font-size: 18px;
  line-height: 28px;
  
  
}
[data-novi-id="28"]{
  /*color: rgba(10, 54, 158, 1);*/
  
}
[data-novi-id="27"]{
  color: rgba(10, 54, 158, 1);
  
}
[data-novi-id="27"]{
  font-size: 17px;
  
  
  color: rgba(10, 71, 10, 0.98);
  font-size: 18px;
  line-height: 28px;
  
  
}
[data-novi-id="26"]{
  font-size: 17px;
  
  
  color: rgba(10, 71, 10, 0.98);
  font-size: 12px;
  line-height: 1.3px;
  font-size: 18px;
  letter-spacing: 1.8px;
  font-weight: 500;
  
  
}
[data-novi-id="30"]{
  color: rgba(10, 54, 158, 1);
  font-weight: 700;
}
[data-novi-id="29"]{
  color: rgb(32, 32, 33);
  font-weight: 700;
  font-weight: 400;
}
[data-novi-id="28"]{
 /* color: rgba(10, 54, 158, 1);*/
  font-weight: 700;
}
[data-novi-id="27"]{
  color: rgba(20, 20, 20, 1);
  
}
[data-novi-id="26"]{
  color: rgba(25, 24, 26, 1);
  
}
[data-novi-id="22"]{
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
[data-novi-id="15"]{
  font-weight: 700;
  font-size: 18px;
  font-weight: 700;
  font-weight: 700;
  color: rgba(54, 117, 183, 1);
  font-weight: 700;
  
}
[data-novi-id="8"]{
  font-size: 23px;
}
[data-novi-id="25"]{
  font-weight: 700;
}
[data-novi-id="24"]{
  
  text-transform: capitalize;
  
  
  
  line-height: 28.8px;
  
  font-size: 18px;
  
  font-weight: 700;
  
  color: rgba(54, 117, 183, 1);
  
}
[data-novi-id="23"]{
  font-size: 17px;
  
  
  color: rgba(152, 183, 76,  1);
  font-size: 18px;
  line-height: 21px;
  
  
}
.rd-navbar-modern.rd-navbar-static .rd-nav-link[data-novi-id="22"]{
  color: rgb(5, 5, 5);
  font-size: 17px;
}
.rd-navbar-static .rd-nav-link[data-novi-id="22"]{
  font-weight: 700;
}
[data-novi-id="21"]{
  font-weight: 700;
  font-size: 28px;
  color: rgba(3, 3, 3, 1);
  font-weight: 700;
  font-weight: 400;
  color: rgba(21, 21, 21, 0.8);
  color: #F8FF3B;
  text-align: center;
  
}
[data-novi-id="20"]{
  text-transform: capitalize;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  font-weight: 700;
  font-weight: 700;
}
[data-novi-id="19"]{
  letter-spacing: 1.125px;
  line-height: 24px;
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
  font-weight: 700;
  font-weight: 700;
  color: rgba(45, 119, 17, 1);
}
[data-novi-id="18"]{
  color: rgba(27, 112, 36, 1);
  font-weight: 700;
  
  line-height: 24px;
  font-size: 17px;
}
[data-novi-id="17"]{
  color: #009444;
  color: rgba(45, 119, 17, 1);
  font-weight: 700;
  font-weight: 700;
  font-size: 20px;
}
[data-novi-id="16"]{
  font-size: 17px;
  font-weight: 700;
  font-weight: 700;
  color: rgb(45, 119, 17);
  font-size: 20px;
  line-height: 29.4px;
  font-weight: 700;
  
}
.rd-navbar-static .rd-nav-link[data-novi-id="15"]{
  font-weight: 700;
}
.rd-navbar-modern.rd-navbar-static .rd-nav-link[data-novi-id="15"]{
  color: rgb(5, 5, 5);
  font-size: 17px;
}
[data-novi-id="14"]{
  font-weight: 700;
  font-size: 17px;
  color: rgb(5, 5, 5);
  color: rgba(255, 255, 255, 0);
  color: rgba(27, 112, 36, 1);
  font-weight: 700;
}
[data-novi-id="13"]{
  text-transform: uppercase;
  font-size: 31px;
  color: rgb(8, 8, 8);
  font-weight: 700;
  color: #303030;
}
[data-novi-id="12"]{
  letter-spacing: 1.125px;
  line-height: 24px;
  font-size: 17px;
  
  text-transform: uppercase;
  color: rgba(77, 77, 77, 1);
}
[data-novi-id="11"]{
  color: #009444;
  color: #5a5e59;
  font-weight: 700;
  text-transform: uppercase;
  
}
[data-novi-id="10"]{
  color: rgba(119, 119, 119, 1);
  
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
[data-novi-id="9"]{
  font-size: 17px;
  font-weight: 700;
  
}
.rd-navbar-modern.rd-navbar-static .rd-nav-link[data-novi-id="8"]{
  color: rgb(5, 5, 5);
  font-size: 17px;
}
.rd-navbar-static .rd-nav-link[data-novi-id="8"]{
  font-weight: 700;
}
[data-novi-id="7"]{
  font-weight: 700;
  font-size: 23px;
  color: rgb(5, 5, 5);
  color: rgb(28, 147, 255);
}
[data-novi-id="6"]{
  letter-spacing: 1.125px;
  line-height: 24px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 167, 1);
}
[data-novi-id="5"]{
  text-transform: uppercase;
  font-size: 23px;
  color: rgb(8, 8, 8);
  font-weight: 700;
  color: #006526;
}
[data-novi-id="4"]{
  font-weight: 700;
  color: #0595ff;
  font-size: 35px;
}
[data-novi-id="3"]{
  
  color: #0595ff;
  font-weight: 700;
  
  text-transform: capitalize;
  
  font-size: 35px;
}
[data-novi-id="1"]{
  color: rgba(235, 179, 69, 1);
  
  letter-spacing: 0.6px;
  font-weight: 700;
  line-height: 33.6px;
  font-size: 18px;
  
  
}
[data-novi-id="0"]{
  color: #023f6c;
  font-weight: 700;
}
